*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#000;
    color:#fff;
}

header{
    position:fixed;
    width:100%;
    padding:20px 10%;
    display:flex;
    justify-content:space-between;
    background:#000;
    border-bottom:1px solid #333;
    z-index:1000;
}

nav a{
    margin-left:20px;
    text-decoration:none;
    color:#fff;
}

.cv-btn{
    border:1px solid #fff;
    padding:6px 15px;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:150px 10% 100px;
}

.hero-text h1{
    font-size:42px;
    font-weight:800;
}

.hero-text h2{
    margin:10px 0;
    font-weight:400;
}

.hero-img img{
    width:280px;
    border:2px solid #fff;
    border-radius:10px;
}

.btn{
    padding:10px 20px;
    background:#fff;
    color:#000;
    text-decoration:none;
    margin-top:20px;
    display:inline-block;
}

.btn-outline{
    padding:10px 20px;
    border:1px solid #fff;
    color:#fff;
    text-decoration:none;
    margin-left:10px;
}

.section{
    padding:100px 10%;
    text-align:center;
}

.dark{
    background:#111;
}

.card{
    border:1px solid #fff;
    padding:30px;
    margin:20px auto;
    max-width:600px;
    background:#000;
}

.list{
    margin-top:10px;
    list-style:none;
}

.list li{
    margin:5px 0;
}

.contact-info{
    margin-bottom:20px;
}

footer{
    text-align:center;
    padding:20px;
    border-top:1px solid #333;
}